body{
padding: 0px;
margin: 0px;
width:  100vw;
overflow-x: hidden;


    
    
}

nav{
    
    background:linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%) );
    border-bottom-left-radius: 100px;
 overflow-x:hidden ;


}



.insidenav{
    
    border-bottom-left-radius: 100px;
    overflow-x: hidden;
    width: 1250px;
    height:560px;
    background-image: url("../images/bg-pattern-intro-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover ;
    background-position:  -310px -230px;


}




.logomenu{
    display:flex ;
   justify-content: space-between;
   width: 100vw;
    
   
}



.linebar{


    
    position: absolute;
    width: 85vw;
    height: 490px;
    top: 110px;
    left: 23px;
    border-radius: 7px;
text-align: center;
padding-top: 30px;
background-color: white;

display: none;


}


    


.hrline{
    
    width: 75vw;
  margin-left: 20px;
    margin-top: 35px;
   
    
}

li.mainLI{
    padding-left: 20px;
    padding-right: 20px;
    
}


li.mainLI a.login,a{
    font-weight: 600;
    color: hsl(207, 13%, 34%);;
    font-family: "Overpass", sans-serif;
   text-decoration: none;
    
}



li.mainLI i{
   
    color: hsl(356, 100%, 66%);
    font-size: small;
    
    
}



li.mainLI:hover i{
    transform: rotate(180deg);
     
 }





ul.Nested1 li a{
color: hsl(207, 13%, 34%);;
font-weight: 500;

font-family: "Ubuntu", sans-serif;

line-height: 35px;

text-decoration: none;
border-style: hidden;
display: none;


 }


li.mainLI:hover ul.Nested1 li a{
display: block;
text-decoration:none ;


}


li.mainLI:hover ul.Nested1{
    background: whitesmoke;
  
   padding: 15px;
   margin-top: 20px;
    border-radius: 7px;
    width: 100%;
  
}



li.mainLI:hover:not(.mainLI3) ul {
margin-top: 0px;
padding: 0px;
}

.loginbutton{
    padding-top: 12px;
   
}

.login{
    margin-right: 20px;
}




.butts1{
    background:linear-gradient(to left, hsl(353, 100%, 62%), hsl(13, 100%, 72%));
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
   color: white;
    width:  120px;
    margin-top: -4px;

}



.butts:hover{
    background: hsl(355, 100%, 74%);
}


.navTest{
   margin-top: 120px;
width: 78vw;
margin-left: 40px;
    color: hsl(0, 0%, 100%);
  
    
}

.text1{
    font-family: "Overpass", sans-serif;
    font-size: 32px;
}

.parablack{
    font-family: "Overpass", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: hsl(207, 13%, 34%);
   
}

.parawhite{
color: hsl(0, 0%, 100%);
font-family: "Overpass", sans-serif ;
font-weight: 300;

}

.tophead{
    color: hsl(208, 49%, 24%);
    font-family: "Overpass", sans-serif;
    font-weight: 600;

}

.topheadwhite{
color: hsl(0, 0%, 100%);
font-family: "Overpass", sans-serif;
font-size: 34px;
font-weight: 600;
}

.butts2{
    background: white;
    color:hsl(356, 100%, 66%) ;
    font-weight: 700;
   font-family: "Ubuntu", sans-serif;
   

}

.butts3{
    
    color:hsl(356, 100%, 66%) ;
    font-weight: 700;
   font-family: "Ubuntu", sans-serif;
 color:hsl(0, 0%, 100%) ;
 font-weight: 500;
 margin-left: 10px;

    
}


main{
    overflow-x: hidden;
    
}



.textSize{
   
    width: 78vw;

}



.phoneDiv{
    margin-top: 250px;
    height: 550px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
   background:  hsl(237, 17%, 21%);
   overflow: hidden;
   
}

.phoneRound{
    width: 450px;
    height: 450px;
    border-radius: 100%;
    position: relative;
    top: -130px;
    left: -35px;
    border: solid white .1px;
    
}

.phoneRound1{
    width: 380px;
    height: 380px;
    position: relative;
    left: 25px;
    top: -10px;
    border-radius: 100%;

    
    border: solid white 0.10px;
}

.phoneRound2{
    width: 340px;
    height: 340px;
    background: hsl(237, 23%, 32%);
    position: relative;
    left: 20px;
    top: 20px;
    border-radius: 100%;
   
    
   
}



.phonewrap{
    position: absolute;
    margin-top: -770px;
    left:-10px ;
   
   
    
}

.states{
    position: relative;
   left: 30px;
   top: -3px;
}


/* /////////////////RESPONSIVENESS START HERE//////////// */




 @media (min-width:850px){

.menutoggle{
    display: none;
}

nav{
    background:linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%) );
height: 550px;

}
.insidenav{
    background-image: url("../images/bg-pattern-intro-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
   
   
   
    width: 3200px;
    height: 550px;
    
    background-position: -470px -1360px;
  

}


    .navsec1{
  display: flex;
 width: 100vw;
       padding-left: 10vw;
       padding-right: 12vw;
        
     
   
    }

    .logomenu{
        width:fit-content ;
       
    
    }
 
.linebar{
   display:flex;
   justify-content: space-between;
   position: unset;
    height: unset;
   width:100%;
   box-shadow: unset !important;
    border-radius: 0px;
text-align: unset;
padding-top: unset;
background-color: unset;




      
}

.hrline{
    display: none;
}


li.mainLI{
display: inline-table;
margin-left: 25px;
padding: 0px;
margin-top: 32px;
   
   
}

ul.Nested1{
    border-radius: 2px;
    
}

.loginbutton{
 display:flex;
 gap: 30px;
margin-top: 18px;
}

.login{
    position: relative;
    top: 2px;
}

li.mainLI a,.login{
   
    color: hsl(0, 0%, 100%);
    font-family: "Ubuntu", sans-serif;
   
    
}

li.mainLI i{
    margin-right: 3px;
    color: white;
}


li.mainLI:hover ul.Nested1{
    width: 150px;
    margin-left: -30px;
    background: white;
    text-align: left;
    position: absolute;
    z-index: 2;
    

}

li.mainLI:hover a{
   text-decoration: underline;
  }


li.mainLI:hover ul.Nested1 a{
    text-align: start;
    
   
}

li.mainLI:not(.mainLI3):hover ul.Nested1 a{
   padding-left: 20px;
   padding-top: 20px;
   padding-bottom: 20px;
   line-height: 5px;
}

li.mainLI:not(.mainLI3):hover ul.Nested1{
    margin-top: 20px;
  }




.butts1,.butts2{
    margin-top: -45px;
    background:white ;
    color: hsl(356, 100%, 66%);
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    width: 140px;
}

.butts1:hover{
    background: hsl(355, 100%, 74%);
    color: hsl(0, 0%, 100%);
}

.butts2:hover{
    background: hsl(355, 100%, 74%);
    color: hsl(0, 0%, 100%);
}

.butts3{
    width: 140px;
}

.butts3:hover{
    background: white;
    color: hsl(356, 100%, 66%);
 
}


/* .butts2:hover{
    background:;
    color:hsl(356, 100%, 66%) ;
    font-weight: 700;
   font-family: "Ubuntu", sans-serif;
   

} */

.butts3{
    
    color:hsl(356, 100%, 66%) ;
    font-weight: 700;
   font-family: "Ubuntu", sans-serif;
 color:hsl(0, 0%, 100%) ;
 font-weight: 500;
 margin-left: 10px;

    
}



.navsec2{
   
    display: flex;
    justify-content: center;
    width: 100vw;
  

}

.navTest{

    width: 80%;
    position: relative;
    top: -30px;
    left: -60px;
 
    
}

.text1{
    font-size: 60px;
    
}

.para1{
    font-size: 20px;
}



} 

