body{
padding: 0px;
margin: 0px;
overflow-x: hidden;
    
    
}

nav{
    background:linear-gradient(to left, hsl(353, 100%, 62%), hsl(13, 100%, 72%));
height: 500px;
    border-bottom-left-radius: 100px;
    display:flex;
justify-content: center;
  

}

.insidenav{
    width: 85vw;
padding-top: 50px;
display:flex;

    /* background-image: url("/images/bg-pattern-intro-desktop.svg"); */
   
}

.linebar{
    height: 50px;
   margin-top:-8px ;
   padding-left: 30px;
   
   

  
}

.hrline{
    display: none;
}



li.mainLI a.login,a{
    font-weight: 500;
    font-family: "Ubuntu", sans-serif;
    color: hsl(0, 0%, 100%);
   text-decoration: none;
    
}



li.mainLI:hover a{
   
   text-decoration:underline;

   
}

li.mainLI:hover i{
    transform: rotate(180deg);
    
        
 }



ul.Nested1 li a{
display:none;
color: black;
font-weight: 400;
font-size: 14px;
font-family: "Ubuntu", sans-serif;
padding: 10px;
line-height: 12px;
text-decoration: none;
border-style: hidden;

 }


li.mainLI:hover ul.Nested1 li a{
display: block;
text-decoration:none ;


}

li.mainLI:hover ul.Nested1{
    background: white;
    border-radius: 10px;
    width: 110px;
    position: relative;
    top: 10px;
    left: -10px;    

}

li.mainLI3:hover ul.Nested1{
    background: white;
    border-radius: 10px;
    width: 150px;
    position: relative;
    left: -30px ;
    top: 10px;
}


.menutoggle{
   display: none;
   
    
}

.loginbutton{
    padding-top: 12px;
}

.login{
    margin-right: 20px;
}




.butts1{
    background: white;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    color: hsl(356, 100%, 66%);
    width:  120px;
    margin-top: -4px;

}

.butts:hover{
    background: hsl(355, 100%, 74%);
}



/* /////////////////RESPONSIVENESS START HERE//////////// */


@media(max-width:800px){
    .insidenav{
        width: 90vw;
    }

.logomenu{
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.menutoggle{
    display: inline-block;
   
}

.menutoggle:hover{
cursor: pointer;
}

.linebar,.mainUL,.loginbutton{
    display: flex;
    flex-direction: column;
   
  width: 70vw;
    row-gap: 15px !important;

    
}

.hrline{
    display: block;
    width: 60vw;
    position: relative;
    right: 25vw;
    top: 15px;

}

.loginbutton{
position: relative;
right: 28vw;

bottom: 0px;
padding-left: 25vw;


}

.login{
    padding-left: 40px;
    
   

}

.linebar{

 position: absolute;
 left: 20vw;
 top: 110px;
 width: 70vw;
 height:450px;
 padding-bottom:120px ;
 padding-left: 30vw;
 border-radius:5px;
 background:white;
box-shadow:  0px 1px 0px 0px;

}


li.mainLI a.login, a{
    width: 100px;
    color: black;
    font-family: "Overpass", sans-serif;
    
}

li.mainLI i{
   
    color: hsl(356, 100%, 66%);
    font-size: small;
    
    
}

a.butts1{
    color: white;
    background:linear-gradient(to left, hsl(353, 100%, 62%), hsl(13, 100%, 72%));
}

li.mainLI:hover ul.Nested1{
    background: whitesmoke;
    border-radius: 10px;
    width: 60vw;
    position: relative;
    top: 10px;
    left: -25vw;
    padding: 10px;
    padding-left: 23vw;
    text-align: center;
    
   
    

}


 .insidenav{
    justify-content: space-between;


}

}

@media(max-width:768px){

.insidenav{
    
   
}


}