body{
padding: 0px;
margin: 0px;
width: 100vw;
overflow-x: hidden;


    
    
}

nav{
    background:linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%) );
  border-bottom-left-radius: 100px;
overflow-x: hidden;
   
 
  

}

.navwrap{
    
    border-bottom-left-radius: 100px;
    overflow-x: hidden;
    width: 1250px;
    height:560px;
    background-image: url("/images/bg-pattern-intro-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover ;
    background-position:  -310px -230px;
         

    


}

section{
 
 
}





.logomenu{
    display:flex ;
    justify-content: space-between;
    width: 100vw;
    height: 50px;
   
}



.linebar{
    position: absolute;
    width: 85vw;
    height: 475px;
    top: 110px;
    left: 23px;
    box-shadow: 0px 5px;
    border-radius: 7px;
text-align: center;
padding-top: 30px;
background-color: white;
display: none;
  
   
  

  
}

.hrline{
    width: 75vw;
    margin-left: 20px;
    margin-top: 35px;
   
    
}



li.mainLI a.login,a{
    font-weight: 500;
    /* font-family: "Ubuntu", sans-serif; */
    /* color: hsl(0, 0%, 100%); */
    color: black;
    font-family: "Overpass", sans-serif;
   text-decoration: none;
    
}

li.mainLI i{
   
    color: hsl(356, 100%, 66%);
    font-size: small;
    
    
}


/* li.mainLI:hover a{
   
   text-decoration:underline;

   
} */

li.mainLI:hover i{
    transform: rotate(180deg);
     
 }





ul.Nested1 li a{
color: black;
font-weight: 500;
font-size: 14px;
font-family: "Ubuntu", sans-serif;
padding-top: 30px;
line-height: 5px;
text-decoration: none;
border-style: hidden;
display: none;


 }


li.mainLI:hover ul.Nested1 li a{
display: block;
text-decoration:none ;


}


li.mainLI:hover ul.Nested1{
    background: whitesmoke;
    border-radius: 7px;
    width: 75vw;
    height: 200px;
    position: relative;
    left:18px ;
    top: 10px;
}


li.mainLI2:hover ul.Nested1{
    background: whitesmoke;
    border-radius: 7px;
    width: 75vw;
    height: 170px;
    position: relative;
    left: 18px ;
    top: 10px;
}


li.mainLI3:hover ul.Nested1{
    background: whitesmoke;
    border-radius: 7px;
    width: 75vw;
    height: 140px;
    position: relative;
    left: 18px ;
    top: 10px;
}

.loginbutton{
    padding-top: 12px;
}

.login{
    margin-right: 20px;
}




.butts1{
    background:linear-gradient(to left, hsl(353, 100%, 62%), hsl(13, 100%, 72%));
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
   color: white;
    width:  120px;
    margin-top: -4px;

}



.butts:hover{
    background: hsl(355, 100%, 74%);
}



/* /////////////////RESPONSIVENESS START HERE//////////// */


